button {
    cursor: pointer;
}

.light-dark {
    cursor: pointer;
    position: absolute;
    right: 50px;
    font-size: 30px;
}

.fa-sun {
    display: none;
}

:root {
    --primary-color: #fff;
    --secondary-color: #000;
    --thirdary-color: #292B32;
    --fourthary-color: #F7F8FF;
    --fithary-color: #18282A;
    --sixthary-color: #F7F7F8;
    --seventhry-color: #3b3e47;
    --eighthary-color: #525965;
    --ninethary-color: #dfdfdf;
    --tenthary-color:  #F7F7F8;
}

.dark-theme {
    --primary-color: #3b3e47;
    --secondary-color: #fff;
    --fourthary-color: #19252a;
    --sixthary-color: #292B32;
    --eighthary-color: #dfdfdf;
    --tenthary-color: #292B32;
}

main {
    background-color: var(--sixthary-color);
    padding: 20px 80px;
}

.sports-section {
    width: 100%;
    height: fit-content;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: var(--sixthary-color);
    color: var(--secondary-color);
}

.sports-section h2 {
    width: fit-content;
    text-align: start;
    padding-bottom: 5px;
    border-bottom: 2px solid #2C9CF0;
    color: var(--secondary-color);
}

.players-cards {
    width: 100%;
    height: 430px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.player-card {
    width: 200px;
    height: 100%;
    background-color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.player-card .image-section {
    width: 100%;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image-section img {
    width: 180px;
}

.player-card .content-section {
    width: 100%;
    height: fit-content;
    padding: 10px;
}

.content-section h3:first-child {
    font-size: 16px;
    font-weight: 600;
}

.content-section label {
    font-size: 12px;
    font-weight: 400;
    color: var(--eighthary-color);
}

.content-section h3 {
    font-size: 12px;
    font-weight: 600;
    color: var(--secondary-color);
}


.content-section .data {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    margin-top: 10px;
    background: var(--tenthary-color);
    padding-left: 10px;
    padding-bottom: 10px;
}

/* Ads Container */
.ads-container {
    width: 200px;
    height: 100%;
    background-color: var(--primary-color);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 10px;
    color: var(--secondary-color);
}

.ads-container img {
    width: 100%;
}

.ads-container .content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px;
    gap: 10px;
}

.content-section p {
    font-size: 12px;
}

.ad-tag {
    background-color: #000;
    width: 50px;
    height: fit-content;
    color: #fff;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
    position: absolute;
    right: 10px;
    padding: 5px;
}

.sports-section button {
    width: 100px;
    height: 30px;
    margin: 0px auto;
    background: #2C9CF0;
    color: #fff;
    border: none;
    border-radius: 3px;
}

/* Collection Spotlight */
.collection-spotlight-section {
    width: 100%;
    height: 700px;
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 20px;
    background: var(--fourthary-color);
}

.collection-spotlight-section .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.header h2 {
    font-size: 50px;
    color: var(--secondary-color);
}

.header p {
    text-align: center;
    width: 80%;
    color: var(--secondary-color);
}

.ticket-slider-section {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}


.ticket-slider-section i {
    width: 30px;
    height: 45px;
    border: 1.5px solid #2C9CF0;
    color: #2C9CF0;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.ticket-slider {
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 26px;
    justify-content: space-between;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.ticket-slider::-webkit-scrollbar {
    display: none;
}

.ticket-card {
    width: 250px;
    height: 100%;
    flex: 0 0 auto;
    background-color: var(--primary-color);
    position: relative;
    overflow: hidden;
}

.left-cut {
    width: 20px;
    height: 20px;
    background-color: var(--fourthary-color);
    border-radius: 55px;
    position: absolute;
    top: 70%;
    left: -10px;
    box-shadow: inset rgba(0, 0, 0, 0.1) 1px 0.5px 5px;
}

.right-cut {
    width: 20px;
    height: 20px;
    background-color: var(--fourthary-color);
    border-radius: 55px;
    position: absolute;
    top: 70%;
    right: -10px;
    box-shadow: inset rgba(0, 0, 0, 0.1) 1px 0.5px 3px;
}

.liner {
    width: 100%;
    border-radius: 55px;
    position: absolute;
    top: 68%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    color: var(--eighthary-color);
    font-size: 25px;
}

.ticket-content {
    width: 100%;
    height: 30%;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}

.ticket-images {
    height: 70%;
    width: 100%;
}

.ticket-images img {
    width: 100%;
    height: 100%;
}

.ticket-content h3 {
    font-size: 18px;
    font-weight: 600;
    color: var(--secondary-color);
}

.ticket-content .date-time {
    font-size: 15px;
    color: var(--secondary-color);
}

.ticket-content .place {
    font-size: 15px;
    color: var(--eighthary-color);
}

.ticket-content button {
    width: 200px;
    padding: 5px 0px;
    border-radius: 0px;
    background-color: #000;
    color: #fff;
    border: none;
}

/* Responsive */
/* Max-width 1280 */
@media (min-width: 520px) and (max-width: 1280px) {
    
    main {
        padding: 20px 40px;
    }

    .players-cards {
        height: fit-content;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .collection-spotlight-section {
        height: fit-content;
    }

}

@media (min-width: 320px) and (max-width: 520px) {
    
    main {
        padding: 20px 20px;
    }

    .light-dark {
        right: 20px;
    }

    .players-cards {
        height: fit-content;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 20px;
        align-items: center;
        justify-content: center;
    }

    .collection-spotlight-section {
        height: fit-content;
    }

    .ticket-card {
        width: 200px;
    }

    .ticket-content {
        padding: 20px 10px;
    }

    .ticket-content h3 {
        font-size: 16px;
    }

}